# .vscode/
# __pycache__/*
# weak_strong/
# snapshots/
# affine/
# pfpascal*/
# vis*/
# pretrained*/
# *.py[cod]
# img/
# spair*/
# *.png
# .idea/
# *.ipynb
# .vscode/
# checkpoint/
# checkpoint*/
# shell_old
# snapshots*
# run_temp*/